div, section
{
	box-sizing: border-box;
}

body
{
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5;
	color: #03003F;
	overflow-x: hidden;
	width: 100%;
}

h1, h2, h3
{
	font-weight: 200;
	color: #03003F;
}

b
{
	font-weight: 700;
}

p
{
	margin: 2rem 0 2rem 0;
}

/* CENTRED CONTENT */

.content
{
	margin: 2em auto;
	max-width: 40em;
	padding: 0 1em;
}

/* NAVIGATION */

.topbar
{
	height: 15rem;
	/* 250px */
}

nav ul
{
	list-style: none;
}

nav li
{
	display: inline-block;
}

nav li a
{
	text-decoration: none;
	color: #03003F;
}

/* LOGO */

.logo
{
	width: 25rem;
	height: 10rem;
}

.logo object,
.logo img
{
	width: 100%;
}

.logo h3
{
	margin-top: -.5rem;
}

/* FULL-SIZE IMAGES */

html, body
{
	height: 100%;
}

.full, .half
{
	height: 100%;
	background-color: #fffbf2;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	box-sizing: border-box;
}

.half
{
	height: 70%;
}


/* BACKGROUND IMAGES */
#imageOne
{
	background-image: url(../images/warmth2painting_largeAbstractArtwork.jpg);
}

#imageTwo
{
	background-image: url(../images/warmth4painting_largeAbstractArtwork.jpg);
}

#imageThree
{
	background-image: url(../images/warmth5painting_largeAbstractArtwork.jpg);
}

#imageFour
{
	background-image: url(../images/warmth1painting_largeAbstractArtwork.jpg);
}

#imageFive
{
	background-image: url(../images/dotsOrangeBlue_painting_abstractArtwork.jpg);
}

#imageSix
{
	background-image: url(../images/AimeeJohanan_aquamarine_painting_abstractArtwork.jpg);
}

#imageSeven
{
	background-image: url(../images/redWhitePurpleMask_painting_abstractArtwork.jpg);
}

/* BUBBLES*/

.bubble,
.bubble2
{
	height: 28rem;
	width: 28rem;
	/* 448px */
	background-repeat: no-repeat;
	background-size: 28rem;
	background-position-x: 50%;
}

.largeh2
{
	font-weight: 100;
	font-size: 2.5rem;
}

.bubble2 h2
{
	color: #03003F;
}


#imageOne section
{
	background-image: url(../images/Green-elipse.png);
}

#imageTwo section,
#imageFive section,
#imageSix section,
#imageSeven section
{
	background-image: url(../images/White-elipse.png);
}

#imageThree section
{
	background-image: url(../images/Yellow-elipse.png);
}

#imageFour section
{
	background-image: url(../images/Blue-elipse.png);
}

/* ARROW */

#arrow-down, 
#arrow-down2
{
	position: fixed;
	bottom: 0%;
	width: 100%;
	left: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
	-webkit-animation: arrow-down 4s infinite;
	animation: arrow-down 4s infinite;
}

#arrow-down.hidden
{
	opacity: 0;
}

#arrow-down.shown
{
	opacity: 1;
}

#arrow-down2
{
	bottom: 10%;
}


@-webkit-keyframes arrow-down {
	0%,40% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	20% {
		-webkit-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0);
	}
}

@keyframes arrow-down {
	0%,40% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	20% {
		-webkit-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0);
	}
}

/* FLEXBOX */

.h-centred, .v-centred
{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.h-centred
{
	justify-content: center;
	text-align: center;
}
.v-centred
{
	align-items: center;
}

.floatingBeliefs
{
	text-align: center;
	color: #FFFFFF;
}

.content .largeh2
{
	margin: 6rem 0;
}

.orangeWords
{
	color: #ff4b00;
}

.paleBlueWords
{
  color: #c4cff1;
}

#contact
{
	background-color: #03003F;
	margin: 0 auto;
	padding: 2rem 0;
}

#contact h2
{
	color: white;
	text-align: center;
}

/* EMAIL FORM */

.email-form
{
	min-height: 40rem;
}

iframe
{
	width: 100%;
	max-width: 100%;
}


/*   RESPONSIVE   */

@-ms-viewport{
  width: device-width;
}

@media only screen and (max-width: 550px)
{
	.full, .half
	{
		background-attachment: scroll;
	}

	.largeh2
	{
		font-weight: 100;
		font-size: 2rem;
		font-size: 1.5rem;
	}

	.content .largeh2
	{
		/*padding: 1.5rem;*/
	}

	.half
	{
		height: 70%;
	}

	.content
	{
		/*margin: 2rem 1rem;*/
	}

	.email-form h2
	{
		font-size: 1rem;
	}

	.content h2
	{
		/*margin: 0 1rem;*/
		font-size: 18px;
	}

	.content .largeh2
	{
		margin: 4rem 0;
	}

	.bubble, .bubble2
	{
		height: 17rem;
		width: 17rem;
		background-size: 17rem;
	}

	input[type="submit"]
	{
		width: 80%;
	}

	#contact .largeh2
	{
		font-size: 1.5rem;
	}

	.logo object,
	.logo img
	{
		width: 17rem;
		margin-top: -1rem;
	}

	.logo h3
	{
		/*margin-top: -2.5rem;*/
	}

	.logo
	{
		height: 6rem;
	}
	.topbar
	{
		height: 12rem;
	}
	.half
	{
		height: 100%;
	}
}
